.col-md-3
.col-md-6
  .content
    %h2.text-center= t('sign_in')
    %br
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = flash_errors(resource)

      .form-group.input-group-lg
        = f.label :login, t('login_label')
        %br/
        = f.text_field :login, autofocus: true, class: 'form-control', placeholder: t('login_placeholder')
      .form-group.input-group-lg
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: t('password_placeholder')
      - if devise_mapping.rememberable?
        .form-group.input-group-lg.text-center
          = f.check_box :remember_me
          = f.label :remember_me

      - if @needs_captcha
        .captcha-center
          = recaptcha_tags ajax: true, display: { ssl: true, theme: 'clean' , tabindex: 1, public_key: ENV['RECAPTCHA_PUBLIC_KEY'] }
        %br

      .text-center
        %button{type: 'submit', class: 'btn btn-lg btn-primary'}= "<span class='glyphicon glyphicon-user'></span> #{t('sign_in')}".html_safe
    %br
    %h2.text-center= t('not_what_you_were_looking_for')
    %br
    .text-center
      = render "devise/shared/links"
.col-md-3
  

