.col-md-3
.col-md-6
  .content
    %h2.text-center= t('change_your_password')
    %br
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      = f.label :password
      %br
      = f.password_field :password, autofocus: true, autocomplete: "off"
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-lg'
      %br
      .text-center
        %button{type: 'submit', class: 'btn btn-lg btn-success'}= "<span class='glyphicon glyphicon-save'></span> #{t('reset')}".html_safe
    %br
    %h2.text-center= t('not_what_you_were_looking_for')
    %br
    .text-center
      = render "devise/shared/links"
.col-md-3
