.col-md-3
.col-md-6
  .content
    .text-center
      = image_tag @user.avatar_url(:smaller), class: 'img-circle smaller'
      %h1= @user.name
      - if @user.company and !@user.company.blank?
        %h4
          %i= @user.company
    %br
    %h2.text-center= t('contact')
    = form_tag send_contact_request_path do

      = hidden_field_tag :username, @user.username

      - if @errors
        .alert.alert-danger.alert-dismissible{role: "alert"}
          %button.close{"data-dismiss" => "alert", type: "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only= t('close')
          %h4.text-center= t('error')
          - @errors.each do |e|
            %p.text-center= e
            

          
      - if !@message_failed
        .form-group
          = label_tag :message, t('message'), class: 'control-label'
          = text_area_tag :message, @message || '', class: 'form-control input-lg', placeholder: t('contact_placeholder'), style: 'resize:none;', rows: 5
      - else
        .form-group.has-error.has-feedback
          = label_tag :message, t('message'), class: 'control-label'
          = text_area_tag :message, @message || '', class: 'form-control input-lg', placeholder: t('contact_placeholder'), style: 'resize:none;', rows: 5
          %span.glyphicon.glyphicon-remove.form-control-feedback

      %br

      .captcha-center
        = recaptcha_tags ajax: true, display: { ssl: true, theme: 'clean' , tabindex: 1, public_key: ENV['RECAPTCHA_PUBLIC_KEY'] }

      %br
      %div.text-center
        = button_tag "<span class='glyphicon glyphicon-send'></span> #{t('send')}".html_safe, type: 'submit', class: 'btn btn-success btn-lg', data: {disable_with: t('processing')}
.col-md-3
